*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background-image: url(../img/chili.JPG);
}

div#upBande{
	height: 2vh;
	background-size: 2vh;
	background-image: url(../img/losangeBande.png);
}

div#downBande{
	height: 2vh;
	background-size: 2vh;
	background-image: url(../img/losangeBande.png);
}

div#ConteinerBox{
	width: 44vh;
	height: 244vh;
	display: block;
	margin: auto;
	background-color: indianred;
}

header{
	/*min-width: 28vh;*/
	/*max-width: 46vh;*/
	height: 25vh;
	background-color: orange;
	display: flex;
	flex-direction: row;
	background: url("../img/croustillasTortillas.jpg") center;
}

a.buttonLogo{
	width: 18vh;
	height: 18vh;
	display: block;
	margin: auto;
	padding-top: 0vh;
}

img.Logo{
	width: 18vh;
	height: 18vh;
	display: block;
	margin: auto;
	padding-top: 0vh;
}

div#buttonBox{
	width: 44vh;
	height: 6vh;
	display: flex;
	justify-content: center;
	background-color: darkblue;
}

a.buttona{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1.5vh;
	font-weight: bold;
	background-color: darkblue;
	width: 15vh;
	height: 6vh;
}

a.buttona:hover{
	color: orange;
	transition-duration: 0.6s;
}

img.Losange{
	width: 1vh;
	height: 1vh;
}

div#MainBox{
	width: 44vh;
	height: 191vh;
	background-color: #FCCC00;
	display: flex;
	/*justify-content: center;
	flex-direction: column;*/
}


p.welcomeV{
	display: flex;
	padding-top: 6vh;
	font-size: small;
	font-weight: bold;
	text-decoration: underline;
}

div#firstBox{
	display: flex;
	width: 44vh;
	height: 75vh;
	margin-top: 8vh;
	background-color: transparent;
	flex-direction: column;
}

div#enchiladasBox{
	
}

img.enchiladas{
	display: flex;
	width: 38vh;
	height: 28vh;
	margin: 3vh;
}

div#enchiladasTextBox{
	display: flex;
	background-color: black;
	color: white;
	width: 38vh;
	height: 38vh;
	margin: 3vh;
}

p.enchiladasText{
	display: flex;
	margin: 4vh;
	font-size: 3vh;
	font-size-adjust: auto;
}

div#secondBox{
	display: flex;
	flex-direction: column;
	width: 44vh;
	height: 80vh;
	margin-top: 8vh;
	background-color: transparent;
}

div#churrosBox{
	display: flex;
	background-color: black;
	color: white;
	width: 38vh;
	height: 38vh;
	margin: 3vh;
}

p.churrosText{
	margin: 4vh;
	font-size: 3vh;
	font-size-adjust: auto;
}

div#churrosTextBox{
	
}

img.churros{
	display: flex;
	width: 38vh;
	height: 28vh;
	margin: 3vh;
}


footer{
	/*min-width: 28vh;*/
	/*max-width: 46vh;*/
	height: 18vh;
	background-color: #FCCC00;
	text-align: center;
}

div#copyright{
	font-size: 1.6vh;
	background-color: #FCCC00;
	padding-bottom: 2vh;
	text-align: center;
	align-items: end;
}

div#resBox{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 3vh;
}

a.réseaux{
	width: 5vh;
	height: 5vh;
}

img.imgRés{
	width: 5vh;
	height: 5vh;
}