*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background-image: url(../img/chili.JPG);
}

div#upBande{
	height: 4vh;
	background-size: 4vh;
	background-image: url(../img/losangeBande.png);
}

div#downBande{
	height: 4vh;
	background-size: 4vh;
	background-image: url(../img/losangeBande.png);
}

div#ConteinerBox{
	width: 160vh;
	height: 252vh;
	display: block;
	margin: auto;
	background-color: indianred;
}

header{
	/*min-width: 210vh;*/
	/*max-width: 240vh;*/
	height: 38vh;
	background-color: orange;
	display: flex;
	flex-direction: row;
	background: url("../img/croustillasTortillas.jpg") center;
}

a.buttonLogo{
	width: 28vh;
	height: 28vh;
	display: block;
	margin: auto;
	padding-top: 0vh;
}

img.Logo{
	width: 28vh;
	height: 28vh;
	display: block;
	margin: auto;
	padding-top: 0vh;
}

div#buttonBox{
	width: 160vh;
	height: 8vh;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	align-items: center;
	background-color: darkblue;
}



a.buttona{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 2.3vh;
	font-weight: bold;
	background-color: darkblue;
}

a.buttona:hover{
	color: orange;
	transition-duration: 0.6s;
}

img.Losange{
	width: 3vh;
	height: 3vh;
}

div#MainBox{
	width: 160vh;
	height: 170vh;
	background-color: #FCCC00;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p.welcomeV{
	display: flex;
	padding-top: 6vh;
	font-size: xx-large;
	font-weight: bold;
	text-decoration: underline;
}

div#firstBox{
	display: flex;
	width: 140vh;
	height: 60vh;
	margin-top: 8vh;
	background-color: transparent;
}

div#enchiladasBox{

}

img.enchiladas{
	display: flex;
	width: 48vh;
	height: 40vh;
	margin: 12vh;
}

div#enchiladasTextBox{
	display: flex;
	background-color: black;
	color: white;
	width: 48vh;
	height: 40vh;
	margin: 12vh;
}

p.enchiladasText{
	display: flex;
	margin: 4vh;
	font-size: 3.4vh;
	font-size-adjust: auto;
}

div#secondBox{
	display: flex;
	width: 140vh;
	height: 50vh;
	margin-top: 8vh;
	background-color: transparent;
}

div#churrosBox{
	display: flex;
	background-color: black;
	color: white;
	width: 48vh;
	height: 40vh;
	margin: 12vh;
}

p.churrosText{
	margin: 4vh;
	font-size: 3.4vh;
	font-size-adjust: auto;
}

div#churrosTextBox{
	
}

img.churros{
	display: flex;
	width: 48vh;
	height: 40vh;
	margin: 12vh;
}

footer{
	/*min-width: 210vh;*/
	/*max-width: 240vh;*/
	height: 28vh;
	background-color: #FCCC00;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
}

div#copyright{
	font-size: 2.2vh;
	background-color: #FCCC00;
	padding-bottom: 4vh;
	text-align: center;
	align-items: end;
}

div#resBox{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 6vh;
}

a.réseaux{
	width: 5vh;
	height: 5vh;
}

img.imgRés{
	width: 5vh;
	height: 5vh;
}